
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@font-face {
  font-family: Orbitron;
  src: url("./font/Orbitron-SemiBold.ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: arial, sans-serif;
  line-height: 1.5em;
}
:root {
  --init: transparent;
  --primary:#dc45fe;
  --swite: #ffffff95;
}
body {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 200vh;
  background:radial-gradient(#000000,#000000,#000);
}
/*================= container ====================*/
.container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 200vh;
  gap: 0;
}


/* ----------------header ------------*/
header {
  z-index: 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70vw;
  height: 10vh;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  background: transparent;
  padding: 10px;
  margin-top: 10px;
}
/*============== my logo =================*/
.logo p {
  position: relative;
  font-size: 1.7rem;
  color: black;  
  margin-left: 10%;
  left: 0;
  top: 0;
  font-family:"Orbitron";
  letter-spacing: 5px;
  -webkit-text-stroke: .5px var(--primary);
}
.logo p::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 10%;
  font-weight: bold;
  font-size: 1.7rem;
  
}
/**============ nav ==================**/

nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  background:#000;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 5px;
  position: relative;
}

li {
  position: relative;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #ffffff;
  padding: 5px;
  margin: 0 5%;
}

li::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 20px;
  background: #fff;
  height: 1px;
  width: 100%;
  padding: 1px;
  transition: 0.4s;
  opacity: 0;
}
li:not(.is-active):hover::before {
  bottom: 0;
  background-color: var(--primary);
  opacity: 1;
  transition: all .2s;
  animation: swipe .4s ease ;
}
li:hover {
  cursor: pointer;
  color: var(--primary);
  transition: 0.4s;
}

.nav-index {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  transition: 0.5s;
  border-radius: 20px;
}
/*============ main section ===========*/
main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 80vw;
  background:#000000;
  gap: 10px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.description {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 500px;
  background: var(--init );
  gap: 15px;
  padding: 5px;
}

.blog {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 50%;
  background: var(--init);
  color: #ffffff;
  margin-left: 20px;
  padding: 2px;
}
.blog p{
  font-family: "Orbitron";
  font-size: 2rem;
  
}
.profil {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: transparent;
  width: 50%;
  height:100%;
  
}
.photo-container {
  z-index: 1;
  width: 250px;
  height: 320px;
  background:transparent;
  border-radius: 30% 0% 100% 0%;
  
}

.photo {
  position: relative;
  width:100%;
  height:100%;
  background-image: url("./image/dark.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid var(--primary);
  border-radius: 30% 0% 100% 0%;
  
}
.photo::before{
  z-index: -1;
  content: "";
  position: absolute;
  top: 5%;
  left:5%;
  height: 100%;
  width: 100%;
  background:transparent;
  border-radius: 30% 0% 100% 0%;
  border: 2px solid var(--primary);
  
}


.identity {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100px;
  background: var(--init);
  padding: 5px;
  margin-top: 10px;
  font-weight: bold;
  gap: 5px;
}


.p1 {
  position: absolute;
  color: #ffffff;
  font-size: 1rem;
  bottom: 5px;
  font-family:"Orbitron";
  letter-spacing: 2px;
 
  
}

.p2 {
  position: absolute;
   color: #ffffff;
  letter-spacing: 2px;
  font-size: 1.7rem;
  top: 20px;
  letter-spacing: clamp(0.09, 0.14em, 1rem);
  margin-top: 5px;
  font-family:"Orbitron";
}

span {
  color: var(--primary);
  font-family:"Orbitron";
  letter-spacing: 2px;
  
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 5px;
}

img {
  position: relative;
  top: 60px;
  height: 20px;
  aspect-ratio: 1/1;
  background: #fff;
  border-radius: 15px;
}

img:hover {
  background: var(--primary);
  cursor: pointer;
  transition: 0.8s all ease;
}


.btn {
  z-index: 1;
  position: relative;
  top: 60px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 142px;
  height: 90px;
  background: #fff;
  color: #fff;
  border-radius: 9.8px;
  font-size: 1.1rem;
  margin-top: 5px;
  padding: 2px;
  text-transform: capitalize;
  cursor: pointer;
}

.btn::after {
  z-index: -1;
  content: "";
  position: absolute;
  border-radius: 8px;
  width: 139px;
  height: 28px;
  left: 1.5px;
  top: 1px;
  color: #fff;
  background: #000000be;
}
.btn:hover {
  color: #000;
}
.btn:hover::after {
  backdrop-filter: blur(10px);
  color: #000;
  background: var(--primary);
  transition: all 2s ease;
}

.btn::before {
  z-index: -1;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 10px;
  width: 140px;
  height: 33px;
  background: linear-gradient(to right, #050170ea, var(--primary), #000000);
  filter: blur(12px);
  background-size: 300%;
  transition: all .5s  ease-in-out;
  animation: glow 5s ease-in-out infinite;
}

/*==========   keyframes =============*/

@keyframes glow {
  0% {
    background-size: 300%;
  }

  50% {
    background-size: 400%;
  }

  100% {
    background-size: 500%;
  }
}

@keyframes swipe {
  0% {
    opacity:0;
    transform: translateX(-20%);
    width: 5px;
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
    width: 100%;
    background-color:var(--primary);
  }
}
/*=================about me // demo service=================*/

section{
  position: relative;
  bottom:0;
  display: flex;
  align-items: center;
  flex-direction: column;
  height:100vh;
  width: 80vw;
  background: #fff;
}

/*============  about me ===============*/

.about{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #cc0808;
  width: 100%;
  height: 20%;
  
}
.demo{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #b97676;
  width: 100%;
  height: 50%;
  
}

.service{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #cfff67;
  width: 100%;
  height: 30%;
  
}