
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: arial, sans-serif;
  line-height: 1.5em;
}
:root {
  --init: transparent;
  --primary: #dc45fe;
  --secondary: red;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #000000;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  gap: 20px;
}

.logo p {
  position: relative;
  font-size: 1.7rem;
  color: black;  
  margin-left: 10%;
  left: 0;
  top: 0;
  font-weight: bold;
  font-family:"Orbitron";
  -webkit-text-stroke: .4px var(--primary);
}
.logo p::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 10%;
  font-weight: bold;
  font-size: 1.7rem;
  
}
header {
  z-index: 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75vw;
  height: 8vh;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  background: transparent;
  padding: 2px;
  margin-top: 10px;
  font-size: 16px;
  overflow: hidden;
}

nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  background: transparent;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin: 10%;
  position: relative;
}

li {
  position: relative;
  padding: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #ffffff;
}

li::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 20px;
  background: #fff;
  height: 1px;
  width: 100%;
  padding: 1.4px;
  transition: 0.4s;
  opacity: 0;
}
li:not(.is-active):hover::before {
  bottom: 0;
  background-color: var(--primary);
  opacity: 1;
  transition: all .1s;
  animation: swipe .4s ease ;
}
li:hover {
  cursor: pointer;
  color: var(--primary);
  transition: 0.4s;
}

.nav-index {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  transition: 0.5s;
  border-radius: 20px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 75vw;
  background: transparent;
  gap: 10px;
  padding: 2px;
  margin-left: auto;
  margin-right: auto;
}

.profil {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: transparent;
  width: 100%;
  height: 100%;
}
.photo-container {
  z-index: 1;
  position: relative;
  width: 260px;
  height: 320px;
  background: var(--primary);
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
}
.photo-container::before {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 10px;
  filter: blur(25px);
  background: linear-gradient(#6a006a, #77006b, #610008);
  /*background:linear-gradient(#6a0009,#770000,#610008);*/
  background-attachment: fixed;
  transition: all .2s ease-in-out;
  animation: glow 5s ease-in-out infinite;
  border-bottom-left-radius: 55px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 55%;
  border-top-left-radius: 50%;
}
.photo {
  z-index: -1;
  position: absolute;
  width: 99%;
  height: 99%;
  right: -1px;
  top: 1px;
  background-image: url("./image/dark.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  /* box-shadow:0 10px 40px rgba(#6073ff, green, #ffffff, .8);*/
}


.identity {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 30px;
  background: var(--init);
  padding: 5px;
  margin-top: 30px;
  font-weight: bold;
  gap: 5px;
}

.p1 {
  position: absolute;
  color: #ffffff;
  font-size: 1.1rem;
  bottom: 5px;
}

.p2 {
  position: absolute;
   color: #ffffff;
  font-size: 1.7rem;
  top: 20px;
  letter-spacing: clamp(0.09, 0.14em, 1rem);
  margin-top: 5px;
  

}

span {
  color: var(--primary);
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 5px;
}

img {
  position: relative;
  top: 60px;
  height: 20px;
  aspect-ratio: 1/1;
  background: #fff;
  border-radius: 15px;
}

img:hover {
  background: var(--primary);
  cursor: pointer;
  transition: 0.8s all ease;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 600px;
  background: var(--init);
  gap: 15px;
  padding: 5px;
}
.blog {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 70%;
  background: var(--init);

  color: #ffffff;
  margin-left: 20px;
  padding: 5px;
}

.level {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 70%;
  margin-left: auto;
  margin-right: auto;
  background: var(--init);

  color: #ffffff;
  margin-left: 20px;
  padding: 5px;
}

.btn {
  z-index: 1;
  position: relative;
  top: 60px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 142px;
  height: 90px;
  background: #fff;
  color: #fff;
  border-radius: 9.8px;
  font-size: 1.1rem;
  margin-top: 5px;
  padding: 2px;
  text-transform: capitalize;
  cursor: pointer;
}

.btn::after {
  z-index: -1;
  content: "";
  position: absolute;
  border-radius: 8px;
  width: 139px;
  height: 28px;
  left: 1.5px;
  top: 1px;
  color: #fff;
  background: #000000be;
}
.btn:hover {
  color: #000;
}
.btn:hover::after {
  backdrop-filter: blur(10px);
  color: #000;
  background: var(--primary);
  transition: all 2s ease;
}

.btn::before {
  z-index: -1;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 10px;
  width: 140px;
  height: 33px;
  background: linear-gradient(to right, #000dffba, #ff1b1b, #000);
  filter: blur(15px);
  background-size: 300%;
  transition: all 1s ease-in-out;
  animation: glow 5s ease-in-out infinite;
}

/*==========   keyframes =============*/

@keyframes glow {
  0% {
    background-size: 300%;
  }

  50% {
    background-size: 400%;
  }

  100% {
    background-size: 500%;
  }
}

@keyframes swipe {
  0% {
    opacity:1;
    transform: translateX(-20%);
    width: 5px;
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
    width: 100%;
  }
}
