
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@font-face {
  font-family: Orbitron;
  src: url("./font/Orbitron-SemiBold.ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: arial, sans-serif;
  line-height: 1.5em;
}
:root {
  --init: transparent;
  --primary:#dc45fe;
  --white:#fff;
}
body {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 220vh;
  background:radial-gradient(#000000,#000000,#000);
}

/* ----------- IE ,EDGE ========*/
body::-webkit-scrollbar{
  -ms-overflow-style: none;
}

/* chrom ,safary ,opera*/
body::-webkit-scrollbar{
  display: none;
}

/*============fire fox ====="*/
html{
  scrollbar-width: none;
}
/*================= container ====================*/
.container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 220vh;
  gap: 0;
}


/* ----------------header ------------*/
header {
  z-index: 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75vw;
  height: 10vh;
  margin-left: auto;
  margin-right: auto;
  color:var(--white);
  background:var(--init);
  padding: 10px;
  margin-top: 10px;
}
/*============== my logo =================*/
.logo p {
  position: relative;
  font-size: 1.7rem;
  color: black;  
  margin-left: 10%;
  left: 0;
  top: 0;
  font-family:"Orbitron";
  letter-spacing: 5px;
  -webkit-text-stroke: .5px var(--primary);
}
.logo p::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 10%;
  font-weight: bold;
  font-size: 1.7rem;
  
}
/**============ nav ==================**/

nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  background:#000;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 5px;
  position: relative;
}

li {
  position: relative;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color:var(--white);
  padding: 5px;
  margin: 0 5%;
}

li::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 20px;
  background: var(--white);
  height: 1px;
  width: 100%;
  padding: 1px;
  transition: 0.4s;
  opacity: 0;
}
li:not(.is-active):hover::before {
  bottom: 0;
  background-color: var(--primary);
  opacity: 1;
  transition: all .2s;
  animation: swipe .4s ease ;
}
li:hover {
  cursor: pointer;
  color: var(--primary);
  transition: 0.4s;
}

.nav-index {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  transition: 0.5s;
  border-radius: 20px;
}
/*============ main section ===========*/
main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 90vw;
  background:#000000;
  gap: 10px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.description {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 500px;
  background: var(--init );
  gap: 15px;
  padding: 5px;
}

/*=============blog section ==============*/

.blog {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 50%;
  background: var(--init);
  color:var(--white);
  margin:0 auto ;
  padding: 2px;
}
.blog p{
  font-family: "Orbitron";
  font-size: 2rem;
  
}
.profil {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background:var(--init);
  width: 50%;
  height:100%;
  
}
.photo-container {
  z-index: 1;
  width: 250px;
  height: 320px;
  background:var(--init);
  border-radius: 30% 0% 100% 0%;
  
}

.photo {
  position: relative;
  width:100%;
  height:100%;
  background-image: url("./image/dark.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid var(--primary);
  border-radius: 30% 0% 100% 0%;
  
}
.photo::before{
  z-index: -1;
  content: "";
  position: absolute;
  top: 5%;
  left:5%;
  height: 100%;
  width: 100%;
  background:var(--init);
  border-radius: 30% 0% 100% 0%;
  border: 2px solid var(--primary);
  
}


.identity {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100px;
  background: var(--init);
  padding: 5px;
  margin-top: 10px;
  font-weight: bold;
  gap: 5px;
}


.p1 {
  position: absolute;
  color:var(--white);
  font-size: 1.4rem;
  bottom: 5px;
  font-family:"Orbitron";
  letter-spacing: 2px;
  top: 20px;
  
  
}

.p2 {
  position: absolute;
  color:var(--white);
  letter-spacing: 2px;
  font-size: 1.1rem;
  letter-spacing: clamp(0.09, 0.14em, 1rem);
  margin-top: 5px;
  font-family:"Orbitron";
  bottom: 10px;
}

span {
  color: var(--primary);
  font-family:"Orbitron";
  letter-spacing: 2px;
  
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 5px;
}

img {
  position: relative;
  top: 60px;
  height: 20px;
  aspect-ratio: 1/1;
  background:var(--white);
  border-radius: 15px;
}

img:hover {
  background: var(--primary);
  cursor: pointer;
  transition: 0.8s all ease;
}


.btn {
  z-index: 1;
  position: relative;
  top: 60px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 142px;
  height: 90px;
  background:var(--white);
  color:var(--white);
  border-radius: 9.8px;
  font-size: 1.1rem;
  margin-top: 5px;
  padding: 2px;
  text-transform: capitalize;
  cursor: pointer;
}

.btn::after {
  z-index: -1;
  content: "";
  position: absolute;
  border-radius: 8px;
  width: 139px;
  height: 28px;
  left: 1.5px;
  top: 1px;
  color:var(--white);
  background: #000000be;
}
.btn:hover {
  color: #000;
}
.btn:hover::after {
  backdrop-filter: blur(10px);
  color: #000;
  background: var(--primary);
  transition: all 2s ease;
}

.btn::before {
  z-index: -1;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 10px;
  width: 140px;
  height: 33px;
  background: linear-gradient(to right, #050170ea, var(--primary), #000000);
  filter: blur(12px);
  background-size: 300%;
  transition: all 1s  ease;
  animation: glow 5s ease-in-out infinite;
}

/*==========   keyframes =============*/

@keyframes glow {
  0% {
    background-size: 500%;
  }

  50% {
    background-size: 600%;
  }

  100% {
    background-size: 700%;
  }
}

@keyframes swipe {
  0% {
    opacity:0;
    transform: translateX(-20%);
    width: 5px;
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
    width: 100%;
    background-color:var(--primary);
  }
}
/*=================about me // demo service=================*/

section{
  position: relative;
  bottom:0;
  display: flex;
  align-items: center;
  flex-direction: column;
  height:100vh;
  width: 80vw;
  margin: 10px 0;
  gap: 10px;
  background: transparent;
}

/*============  about me ===============*/

.about{
  position: absolute;
  top: 0;
  display: flex;
  background: #000;
  color:var(--white);
  width: 100%;
  height: 20%;
  padding: 20px;
  gap: 5px;
  
}

/*====== area ======*/
.area{
  background: #fff;
  color:var(--primary);
  width: 50%;
  height:100%;
}
.box1{
  display: flex;
  justify-content: center;
}
.box2{
  display: flex;
  align-items: center;
}
/*===========service ==============*/


.service{
  z-index: 2;
  position: relative;
  top: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  width: 100%;
  height: 20%;
  padding: 10px;
  
}
/*============ demo ==============*/


.demo-container{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0%;
  background:var(--init);
  width: 100%;
  height: 60%;
  padding: 5px;
  gap: 10px;
}

/*========== 3D container ================*/
.demo{
  position: relative;
  display: flex;
  justify-content: center;
  background:var(--init);
  transform: perspective(1000px);
  transform-style: preserve-3d;
  transition: all .3s ease;
  animation: rotate 15s linear infinite;
  width:70%;
  height:280px;
}
.card{
  position: absolute;
  left: 30%;
  background: #fff;
  border-radius: 15px;
  width:150px;
  height:270px;
  transform: rotateY(calc(var(--i) * 60deg )) translateZ(150px);
  -webkit-box-reflect:below 0px  linear-gradient(to bottom,var(--init), var(--init), #00000084);
}

/*=============== background for all card ========*/
.card1{
  background: url("./image/css.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.card2{
  background: url("./image/python.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.card3{
  background: url("./image/tailwind.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.card4{
  background: url("./image/react.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.card5{
  background: url("./image/js.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.card6{
  background: url("./image/django.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


/*=============keyframe 3D ================*/
@keyframes rotate {
  from{
    transform: perspective(1000px) rotateY(0deg) ;

  }
  to{
    transform: perspective(1000px) rotateY(360deg);
  }
  
}
/*============= my tag ==================*/
.tag{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background:var(--init);
  color: var(--white);
  width: 30%;
  height: 60%;
  padding: 10px;
  border-radius: 12px;
  border: 2px solid var(--primary);
}
/*----------------footer ----------------------------*/
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  position: -webkit-sticky;
  height: 20vh;
  width: 100vw;
  background:var(--init);
  transition: all .3s ease;
  color: var(--white);
  padding: 15px 0;
}

